@model DoAnTotNghiep.ViewModels.OptionHouseViewModel
@using DoAnTotNghiep.Enum;
@{
    var key = "Asf_PRzBpUJVcb9lcAg48BLOuAuaBItg4ZzCqaNQaSIFReqieYA02KBcovVD08Jk";
}

<div class="modal fade" id="houseModalToggle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="houseModalToggleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <form class="modal-content" id="form-create">
            <div class="modal-header">
                <div class="my-modal-title">
                    <h3 class="house-title">Thêm nhà</h3>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar"></div>
                        <div class="time-line-step active">1</div>
                        <div class="time-line-step">2</div>
                        <div class="time-line-step">3</div>
                        <div class="time-line-step">4</div>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                        aria-label="Close" id="houseModalToggleClose" onclick="refreshHouseModal()"></button>
            </div>
            <div class="modal-body sigshow">
                <h3>Chào <strong>@ViewData["userName"]</strong>, nhà của bạn ra sao?</h3>
                <p class="text-dark">Hãy cho chúng tôi biết về nhà của bạn.</p>
                <div class="body">
                    <div class="mb-3">
                        <label for="houseName">Tên gợi nhớ cho căn nhà</label>
                        <input type="text" name="houseName" id="houseName" class="form-control" onchange="getNameHouse(this)"/>
                    </div>
                    <div class="mb-3">
                        <label for="typeOfHouse">Loại nhà</label>
                        <div class="option-frame">
                            <div class="option" onclick="getOptionHouse(this, 1)"><i class="fa-solid fa-house"></i><span>Nhà</span></div>
                            <div class="option" onclick="getOptionHouse(this, 2)"><i class="fa-solid fa-building"></i><span>Căn hộ</span></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="HouseDesc">Giới thiệu nhà của bạn</label>
                        <textarea name="houseDesc" id="houseDesc" rows="3" class="form-control" onchange="getDescHouse(this)"></textarea>
                    </div>
                </div>
                <div class="handle-step">
                    <button type="button" class="btn btn-primary btn-no-drop" onclick="nextStep(2, this)" onmouseover="checkStep(2, this)">Tiếp tục</button>
                </div>
            </div>
            <div class="modal-body sighide">
                <h3>Hãy kể thêm cho chúng tôi về căn nhà của bạn.</h3>
                <p class="text-dark">Thông tin chi tiết về căn nhà.</p>
                <div class="body row">
                    <div class="mb-3 col-md-6">
                        <label for="numUser">Số người có thể ở</label>
                        <input type="number" name="numUser" id="numUser" class="form-control" onchange="getPeopleHouse(this)" />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="numSleep">Số phòng ngủ</label>
                        <input type="number" name="numSleep" id="numSleep" class="form-control" onchange="getSleepHouse(this)" />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="numBath">Số phòng tắm</label>
                        <input type="number" name="numBath" id="numBath" class="form-control" onchange="getBathHouse(this)" />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="numSquare">Diện tích căn phòng</label>
                        <input type="number" name="numSquare" id="numSquare" class="form-control" onchange="getSquareHouse(this)"/>
                    </div>
                    <div class="mb-3 col-12">
                        <label for="location">Địa chỉ nhà</label>
                        <div class="input-group">
                            <input type="text" name="location" id="location" class="form-control" placeholder="Địa chỉ" onchange="getLocationHouse(this)" onfocus="getLocationHouse(this)"/>
                            <span class="btn btn-sm rounded btn-primary input-group-text" id="btnBingMaps" onclick="hideMainForm()" data-bs-target="#BingMapModal" data-bs-toggle="modal"><i class="fa-solid fa-map-location-dot"></i></span>
                        </div>
                    </div>
                    <div class="mb-3 col-12 ">
                        <label for="numPrice">Giá bạn mong muốn trao đổi</label>
                        <input type="number" name="numPrice" id="numPrice" class="form-control" placeholder="200 Point/ngày" onchange="getPriceHouse(this)"/>
                        <span class="suggest"><small>Giá gợi ý từ hệ thống: <strong>200 Point/ngày</strong></small></span>
                    </div>
                </div>
                <div class="handle-step">
                    <button type="button" class="btn btn-outline-primary" onclick="prevStep(1)">Hoàn tác</button>
                    <button type="button" class="btn btn-primary btn-no-drop" onclick="nextStep(3, this)" onmouseover="checkStep(2, this)">Tiếp tục</button>
                </div>
            </div>
            <div class="modal-body sighide">
                <h3>Những tiện tích và nội quy trong nhà của bạn.</h3>
                <div class="body">
                    <div class="utilities">
                        <p class="text-dark">Tiện ích</p>
                        <div class="list-option" id="list-utilities">
                            @foreach(var item in Model.Utilities)
                            {
                                <div class="option" onclick="pickOption(this)" accesskey="@item.Id">
                                    @Html.Raw(item.Icon)
                                    <span>@Html.Raw(item.Content)</span>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="rules">
                        <p class="text-dark">Quy tắc</p>
                        <div class="list-option" id="list-rules">
                            @foreach (var item in Model.Rules)
                            {
                                <div class="option" onclick="pickOption(this)" accesskey="@item.Id">
                                    @Html.Raw(item.Icon)
                                    <span>@Html.Raw(item.Content)</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="handle-step">
                    <button type="button" class="btn btn-outline-primary" onclick="prevStep(2)">Hoàn tác</button>
                    <button type="button" class="btn btn-primary" onclick="nextStep(4, this)">Tiếp tục</button>
                </div>
            </div>
            <div class="modal-body sighide">
                <h3>Hình ảnh nhà của bạn</h3>
                <p>Hãy thêm hình ảnh đẹp về căn nhà để thu hút người khác trao đổi.</p>
                <div class="body">
                    <div class="input-picture">
                        <label for="input-picture" id="input-picture-label"><i class="fa-solid fa-camera"></i><span><small>Nhấn để thêm hình ảnh bạn mong muốn</small></span></label>
                        <input type="file" name="input-picture" id="input-picture" hidden onchange="addPiture()" onclick="this.value = null;" accept="@AcceptType.Image" />
                    </div>
                    <div class="picture-added">
                        @for (var item = 0; item < 4; item++)
                        {
                            <div class="picture-frame">
                                <label for="input-picture" onclick="changePicture(@item)"><i class="fa-solid fa-circle-plus"></i></label>
                            </div>
                        }
                    </div>
                </div>
                <div class="handle-step">
                    <button type="button" class="btn btn-outline-primary" onclick="prevStep(3)">Hoàn tác</button>
                    <button type="button" class="btn btn-primary btn-no-drop" onclick="finish()">Hoàn tất</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="BingMapModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" aria-labelledby="BingMapModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Hãy chọn địa của nhà bạn</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="BingMapModalClose" onclick="showMainForm()"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="inputState" class="form-label">Thành phố / Tỉnh:</label>
                        <select id="city-select" class="form-select" onchange="getDataDistrict()">
                            <option value="-1">Thành phố / Tỉnh</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputState" class="form-label">Quận / Huyện</label>
                        <select id="district-select" class="form-select" disabled onchange="getDataWard()">
                            <option value="-1">Quận / Huyện</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputState" class="form-label">Phường / Xã:</label>
                        <select id="ward-select" class="form-select" disabled>
                            <option value="-1">Phường / Xã</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="map-location" class="form-label">Số nhà, tên đường:</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="map-location" id="map-location" aria-describedby="btn-map" onchange="checkAddress(this)"/>
                            <span class="btn btn-primary input-group-text" onclick="getLocation(null)" id="btn-map" title="Ghim trên bản đồ"><i class="fa-solid fa-location-dot"></i></span>
                        </div>                        
                        <span class="text-danger" id="map-location-validate"></span>
                    </div>
                </div>
                <div id="myMap" style="width: 100%; height: 60vh;" class="form-map" onload="GetMap();"></div>
            </div>
            <div class="modal-footer d-flex justify-content-between align-item-center">
                <span id="mapAddress"></span>
                <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close" onclick="showMainForm()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
@Html.AntiForgeryToken()
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
    var key = "@key";
</script>
<script src="~/js/House/create.js" type="text/javascript"></script>
<script type="text/javascript">
    var map = null;
    function GetMap() {
        map = new Microsoft.Maps.Map('#myMap', {
            zoom: 15,
            customMapStyle: StyleMap()
        });
    }
</script>