@model DoAnTotNghiep.ViewModels.PackageDetailHouse
@using DoAnTotNghiep.Enum;
@{
    ViewData["Title"] = "Chi tiết nhà";
    Layout = "_Layout";
    string key = (ViewData["key"] as string) ?? string.Empty;
    bool isAuthorize = (ViewData["isAuthorize"] == null ? false: ViewData["isAuthorize"] == "false" ? false : true);
    bool isOwner = (ViewData["isOwner"] == null ? false : ViewData["isOwner"] == "false" ? false : true);
}

<div class="Banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Image/Demo/1713577385683372.jpg" class="d-block w-100" alt="Step 1">
            </div>
            <div class="carousel-item">
                <img src="~/Image/Demo/1713900527240594.jpg" class="d-block w-100" alt="Step 2">
            </div>
            <div class="carousel-item">
                <img src="~/Image/Demo/1713577385683372.jpg" class="d-block w-100" alt="Step 3">
            </div>
            <div class="carousel-item">
                <img src="~/Image/Demo/1714621217557489.jpg" class="d-block w-100" alt="Step 4">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="frame">
    <div class="left">
        <div class="option-control">
            <div class="tab-pane tab-active"><a href="#tab1">Thông tin chung</a></div>
            <div class="tab-pane"><a href="#tab2">Giới thiệu</a></div>
            <div class="tab-pane"><a href="#tab3">Tiện nghi</a></div>
            <div class="tab-pane"><a href="#tab4">Quy tắc</a></div>
            <div class="tab-pane"><a href="#tab5">Địa chỉ</a></div>
            <div class="tab-pane"><a href="#tab6">Đánh giá</a></div>
        </div>
        <div class="content">
            <section id="tab1">
                <div class="general">
                    <div>@Model.Name</div>
                    <div>
                        <div class="rating"><span>@Model.Rating (@Model.NumberRating)</span><i class="fa-solid fa-star"></i></div>
                        <div class="point"><strong>@Model.Price (p/ngày)</strong></div>
                    </div>
                </div>
                <div class="">
                    <div><i class="fa-solid fa-house"></i><span>@HouseEnum.HouseType(Model.Option)</span></div>
                    <div><i class="fa-solid fa-users"></i><span>@Model.People</span></div>
                    <div><i class="fa-solid fa-bed"></i><span>@Model.BedRoom</span></div>
                    <div><i class="fa-solid fa-bath"></i><span>@Model.BathRoom</span></div>
                    <div><i class="fa-solid fa-maximize"></i><span>@Model.Square &#13217;</span></div>
                </div>
            </section>

            <section id="tab2">
                <h5>Giới thiệu</h5>
                <p>
                    @Model.Description
                </p>
            </section>

            <section id="tab3">
                <h5>Tiện nghi</h5>
                <div>

                    <div class="item-show">
                    @foreach(var item in Model.AllUtilities)
                    {
                        <div class="item-contain">
                            <div class="item-frame @(Model.Utilities.Contains(item.Id)  ? "item-checked": string.Empty) ">
                                    @Html.Raw(item.Icon)
                                <span>@item.Content</span>
                            </div>
                        </div>
                    }
                    </div>
                </div>
            </section>

            <section id="tab4">
                <h5>Quy tắc</h5>
                <div>
                    <div class="item-show">
                        @foreach (var item in Model.AllRules)
                        {
                            <div class="item-contain">
                                <div class="item-frame @(Model.Rules.Contains(item.Id)  ? "item-checked": string.Empty)">
                                    @Html.Raw(item.Icon)
                                    <span>@item.Content</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>

            <section id="tab5">
                <h5>Địa chỉ</h5>
                <div class="frame-map">
                    <div id="myMap" class="BingMap" onload="GetMap(@Model.Lat, @Model.Lng)"></div>
                </div>
            </section>

            <section id="tab6">
                <span class="heading">Người dung đánh giá</span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <p>Dựa trên 251 đánh giá từ người dùng.</p>
                <hr style="border:3px solid #f1f1f1">
                <div class="rate-overview">
                    <div class="line-star">
                        <div class="side">
                            <div>5 Sao</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-5"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>150</div>
                        </div>
                    </div>

                    <div class="line-star">
                        <div class="side">
                            <div>4 Sao</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-4"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>63</div>
                        </div>
                    </div>

                    <div class="line-star">
                        <div class="side">
                            <div>3 Sao</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-3"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>15</div>
                        </div>
                    </div>

                    <div class="line-star">
                        <div class="side">
                            <div>2 Sao</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-2"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>6</div>
                        </div>
                    </div>

                    <div class="line-star">
                        <div class="side">
                            <div>1 Sao</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-1"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>20</div>
                        </div>
                    </div>
                </div>

                <div class="frame-list-comment">
                    @for (var item = 0; item < 6; item++)
                    {
                        <div class="comment">
                            <div class="comment-head">
                                <div class="avt"><img src="~/Image/logo.png" alt="avt-user" /></div>
                                <div class="info">
                                    <h5><span class="name">Phạm Minh Hiếu</span><span class="rating"><span>4.3</span><i class="fa-solid fa-star"></i></span></h5>
                                    <div class="date"><span>20/02/2023</span></div>
                                </div>
                            </div>
                            <div class="comment-content">
                                <p class="comment-show">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                                <p>
                                    <span id="comment-@item" class="collapse">
                                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                                        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                                        versions of Lorem Ipsum.
                                    </span>
                                    <a href="#comment-@item" data-bs-toggle="collapse" onclick="changeName(this)" class="show-more">Xem thêm</a>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </section>
        </div>
    </div>
    <div class="right">
        <div class="top">
            <div class="user-info">
                @if(Model.User != null){
                    if (!string.IsNullOrEmpty(Model.User.UrlImage))
                    {
                        <div class="avt"><img src="@Model.User.UrlImage" alt="avt-user" /></div>
                    }
                    else{
                        <div class="avt"><img src="~/Image/user.svg" alt="avt-user" /></div>
                    }
                    <div class="info">
                        <h5><span class="name">@(Model.User.FirstName + " " + Model.User.LastName)</span></h5>
                        <div class="rating"><span>@Model.User.UserRating</span><i class="fa-solid fa-star"></i></div>
                    </div>
                }
                else{
                    <div class="avt"><span><i class="fa-solid fa-circle-info"></i></span></div>
                    <div class="info">
                        <h5><span class="name">NotFound</span></h5>
                        <div class="rating"><span>-</span><i class="fa-solid fa-star"></i></div>
                    </div>
                }
            </div>
            <div class="validate">
                <div>
                    <i class="fa-solid fa-house"></i><span>@(Model.User?.NumberOfHouses) căn nhà</span>
                </div>
                <div>
                    <i class="fa-solid fa-phone"></i><span class="text-success">Đã xác thực</span>
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i><span class="text-success">Đã xác thực</span>
                </div>
            </div>
        </div>
        @if (isAuthorize && !isOwner)
        {
            <div class="bot">
                <div><a href="@Url.Action("Messages", "Member", new {connection = Model.User?.UserAccess})" class="btn btn-primary" style="display: block;">Liên hệ</a></div>
                <div><button class="btn btn-success" onclick="getRequestFormByHouseId(@Model.Id)">Yêu cầu trao đổi</button></div>
                <div><button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#reportModal">Báo cáo</button></div>
            </div>
        }
    </div>
</div>


<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-danger fw-semibold branch">Báo cáo người dùng</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="refreshLoginForm()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="userReport">Tên người dùng</label>
                        <input type="text" class="form-control" name="userReport" id="userReport" placeholder="Phạm Minh Hiếu" />
                    </div>
                    <div class="mb-3">
                        <label for="houseReport">Căn nhà báo cáo</label>
                        <select class="form-control" id="houseReport" name="houseReport">
                            <option value="12">Nhà 1</option>
                            <option value="13">Nhà 2</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="contentReport">Lí do báo cáo</label>
                        <textarea class="form-control" id="contentReport" name="contentReport" rows="5"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="fileReport">Tệp đính kèm <i class="fa-solid fa-file"></i></label>
                        <input class="form-control" type="file" name="fileReport" id="fileReport" />
                    </div>
                </form>
                <button type="button" class="btn btn-danger">Báo cáo</button>
            </div>
        </div>
    </div>
</div>

<div id="renderModal"></div>

@section Scripts{
    <!--BingMap-->
    <script type='text/javascript'
        src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=@key'
        async defer></script>
    <script type="text/javascript">
        var lat = @Model.Lat;
        var lng = @Model.Lng;
        var map = null;
        function GetMap() {
            let loc = new Microsoft.Maps.Location(lat, lng);
            map = new Microsoft.Maps.Map('#myMap', {
                zoom: 15,
                center: loc
            });
            let pin = new Microsoft.Maps.Pushpin(loc, {
                title: '@Html.Raw(Model.Name)',
                subTitle: '@Html.Raw(Model.Location)'
            });
            console.log(map);
            map.entities.push(pin);
        }
        $(".material-symbols-outlined")[3].innerHTML = "mic";
    </script>
    <script src="~/js/House/detail.js" type="text/javascript" async defer></script>
    <script src="~/js/Request/create.js" type="text/javascript"></script>
    <script src="~/js/Request/getFormByHouseId.js" type="text/javascript"></script>
}