@model HistoryViewModel

@{
    ViewData["Title"] = "Lịch sử giao dịch";
    Layout = "_LayoutMember";
}
<div class="house">
    <div class="house-head">
        <h2>Thống kê giao dịch</h2>
        <button class="btn btn-primary" onclick="renderTransactionForm()">
            Nạp thêm điểm
        </button>
    </div>
    <div class="nav nav-tabs mb-2">
        <div class="nav-link active" onclick="selectTab(0)">Thống kê tài khoản</div>
        <div class="nav-link" onclick="selectTab(1)">Trao đổi</div>
        @*<div class="nav-link" onclick="selectTab(2)">Xu hướng</div>*@
    </div>
    <div class="statistic">
        <div class="head-tab">
            <select id="transaction-year" class="form-select" onchange="zaloTransaction()">
                @for (var year = DateTime.Now.Year; year >= 2000; year--)
                {
                    if (year == DateTime.Now.Year)
                    {
                        <option value="@year" selected> Năm @year</option>
                    }
                    else
                    {
                        <option value="@year"> Năm @year</option>
                    }
                }
            </select>
        </div>
        <div class="head-tab tab-hide">
            <select id="house-year" class="form-select" onchange="statisticHouse()">
                @for (var year = DateTime.Now.Year; year >= 2000; year--)
                {
                    if (year == DateTime.Now.Year)
                    {
                        <option value="@year" selected> Năm @year</option>
                    }
                    else
                    {
                        <option value="@year"> Năm @year</option>
                    }
                }
            </select>
            <select id="statisticHouse" class="form-select" onchange="statisticHouse()">
                @foreach (var item in Model.ListHouse)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="head-tab tab-hide">
        </div>
        
<div class="statistic-img" style="width: 100%; height: 100%;">
    <canvas id="statistic-render"></canvas>
    <div class="predict-render">
        <div class="tab-animation">
            <div class="loading-box">
                <div class="loader"></div>
            </div>
        </div>
        <div class="tab-control">
        </div>
    </div>
</div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.min.js" integrity="sha512-TJ7U6JRJx5IpyvvO9atNnBzwJIoZDaQnQhb0Wmw32Rj5BQHAmJG16WzaJbDns2Wk5VG6gMt4MytZApZG47rCdg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/js/Transaction/create.js" type="text/javascript"></script>
    <script src="~/js/Transaction/statistics.js" type="text/javascript"></script>
    <script type="text/javascript">
        var now = @DateTime.Now.Year;
        zaloTransaction();
    </script>
    @if(!string.IsNullOrEmpty(ViewData["action"] as string))
    {
        <script type="text/javascript">
            renderTransactionForm();
        </script>
    }
}