@model DetailRatingWithUser
@using DoAnTotNghiep.Enum;

<div class="comment">
    <div class="comment-head">
        @if (!string.IsNullOrEmpty(Model.User.UrlImage))
        {
            <div class="avt"><img src="@Model.User.UrlImage" alt="avt-user" /></div>
        }
        else{
            <div class="avt"><img src="~/Image/user.svg" alt="avt-user" /></div>
        }
        <div class="info">
            <h5>
                <span class="name">@Model.User.FirstName @Model.User.LastName</span>
                <span class="rating">
                    <span><span>Đánh giá chất lượng nhà: @Model.FeedBack.Rating</span><i class="fa-solid fa-star"></i></span>
                    <span><span>Đánh giá người dùng: @Model.FeedBack.RatingUser</span><i class="fa-solid fa-star"></i></span>
                </span>
            </h5>
            <div class="date"><span>@Model.FeedBack.UpdatedDate.ToString("dd/MM/yyyy")</span></div>
        </div>
    </div>
    <div class="comment-content">
        @Model.FeedBack.Content
    </div>
</div>