<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DoAnTotNghiep.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/Image/tiny-logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


    <!--Start Icon Kit-->
    <script src="https://kit.fontawesome.com/19075407b9.js" crossorigin="anonymous"></script>
    @*<link rel="stylesheet" href="https://kit.fontawesome.com/19075407b9.css" crossorigin="anonymous">*@
    <!--End Icon Kit-->
</head>
<body>
    <nav class="nav-app">
        <div class="container-lg">
            <div class="d-flex justify-content-between">
                <div>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Image/logo.png" class="logo" alt="logo" /></a>
                </div>
                <div class="nav-left">
                    <div class="lg-device">
                        <div class="lg-device-control">
                            <div class="turn-off">
                                <div>
                                    <i class="fa-sharp fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                            <form name="search" class="d-flex">
                                <input type="search" class="rounded-start rounded-0 form-control" placeholder="Bạn muốn đi đâu?" name="explore" id="explore-1" />
                                <button class="btn btn-sm btn-dark rounded-0 rounded-end"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="authorize">
                    <div>
                    <a class="position-relative" href="#" role="button" id="dropdownMenuNotification" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-bell"></i>
                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                    </span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuNotification">
                    <div class="title"><h5>Thông báo</h5></div>
                    <div class="alert-frame">
                    <div class="dropdown-item">
                    <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                    <div class="content">
                    <strong>Phạm Minh Hiếu</strong>
                    đã gửi yêu cầu trao đổi
                    <span class="time">17/02/2023</span>
                    </div>
                    <div class="status"><i class="fa-solid fa-circle"></i></div>
                    </div>
                    <div class="dropdown-item">
                    <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                    <div class="content">
                    <span class="user-info">Phạm Minh Hiếu</span>
                    <span> đã gửi yêu cầu trao đổi</span>
                    <span class="time">17/02/2023</span>
                    </div>
                    <div class="status seen"><i class="fa-solid fa-circle"></i></div>
                    </div>
                    <div class="dropdown-item">
                    <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                    <div class="content">
                    <span class="user-info">Phạm Minh Hiếu</span>
                    <span> đã gửi yêu cầu trao đổi</span>
                    <span class="time">17/02/2023</span>
                    </div>
                    <div class="status"><i class="fa-solid fa-circle"></i></div>
                    </div>
                    <div class="dropdown-item">
                    <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                    <div class="content">
                    <span class="user-info">Phạm Minh Hiếu</span>
                    <span> đã gửi yêu cầu trao đổi</span>
                    <span class="time">17/02/2023</span>
                    </div>
                    <div class="status seen"><i class="fa-solid fa-circle"></i></div>
                    </div>
                    <div class="dropdown-item">
                    <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                    <div class="content">
                    <span class="user-info">Phạm Minh Hiếu</span>
                    <span> đã gửi yêu cầu trao đổi</span>
                    <span class="time">17/02/2023</span>
                    </div>
                    <div class="status"><i class="fa-solid fa-circle"></i></div>
                    </div>
                    <div class="dropdown-item">
                    <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                    <div class="content">
                    <span class="user-info">Phạm Minh Hiếu</span>
                    <span> đã gửi yêu cầu trao đổi</span>
                    <span class="time">17/02/2023</span>
                    </div>
                    <div class="status seen"><i class="fa-solid fa-circle"></i></div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div>
                    <a class="position-relative" href="#" role="button" id="dropdownMenuChat" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-comments"></i>
                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New chats</span>
                    </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuNotification">
                    <div class="title"><h5>Tin nhắn</h5></div>
                    <div class="alert-frame">
                    <div class="dropdown-item">
                    <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                    <div class="content">
                    <strong>Phạm Minh Hiếu</strong>
                    đã gửi yêu cầu trao đổi
                    <span class="time">17/02/2023</span>
                    </div>
                    <div class="status"><i class="fa-solid fa-circle"></i></div>
                    </div>
                    <div class="dropdown-item">
                    <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                    <div class="content">
                    <span class="user-info">Phạm Minh Hiếu</span>
                    <span> đã gửi yêu cầu trao đổi</span>
                    <span class="time">17/02/2023</span>
                    </div>
                    <div class="status seen"><i class="fa-solid fa-circle"></i></div>
                    </div>
                    <div class="dropdown-item">
                    <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                    <div class="content">
                    <span class="user-info">Phạm Minh Hiếu</span>
                    <span> đã gửi yêu cầu trao đổi</span>
                    <span class="time">17/02/2023</span>
                    </div>
                    <div class="status"><i class="fa-solid fa-circle"></i></div>
                    </div>
                    <div class="dropdown-item">
                    <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                    <div class="content">
                    <span class="user-info">Phạm Minh Hiếu</span>
                    <span> đã gửi yêu cầu trao đổi</span>
                    <span class="time">17/02/2023</span>
                    </div>
                    <div class="status seen"><i class="fa-solid fa-circle"></i></div>
                    </div>
                    <div class="dropdown-item">
                    <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                    <div class="content">
                    <span class="user-info">Phạm Minh Hiếu</span>
                    <span> đã gửi yêu cầu trao đổi</span>
                    <span class="time">17/02/2023</span>
                    </div>
                    <div class="status"><i class="fa-solid fa-circle"></i></div>
                    </div>
                    <div class="dropdown-item">
                    <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                    <div class="content">
                    <span class="user-info">Phạm Minh Hiếu</span>
                    <span> đã gửi yêu cầu trao đổi</span>
                    <span class="time">17/02/2023</span>
                    </div>
                    <div class="status seen"><i class="fa-solid fa-circle"></i></div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="avt" style="display: none;">
                        <a class="position-relative" href="#" role="button" id="dropdownMenuMember" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/Image/logo.png" alt="avatar" />
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuMember">
                            <a class="dropdown-item" href="#">Thông tin tài khoản</a>
                            <a class="dropdown-item" href="#">Danh sách căn hộ</a>
                            <a class="dropdown-item" href="#">Yêu cầu đã đăng</a>
                            <a class="dropdown-item" href="#">Lịch sử giao dịch</a>
                            <a class="dropdown-item" href="#">Tin nhắn</a>
                            <a class="dropdown-item" href="#">Hộp thư góp ý</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#">Đăng xuất <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                        </div>
                    </div>
                    </div>
                    <div class="sm-device">
                        <div class="menu-tab"><i class="fa-solid fa-bars"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main role="main">
        <div class="tab-left">
            <div class="infomation">
                <div class="avt"><img src="~/Image/logo.png" alt="avt-name" /></div>
                <div class="name">
                    <span>Phạm Minh Hiếu</span>
                    <span>350Point</span>
                </div>
            </div>
            <div class="info-frame">
                <div class="tab-attr">
                    <div>
                        <a href="@Url.Action("Infomation", "Member")"><i class="fa-solid fa-circle-info"></i><span>Thông tin tài khoản</span></a>
                    </div>
                </div>
                <div class="tab-attr">
                    <div>
                        <a href="@Url.Action("House", "Member")"><i class="fa-solid fa-house"></i><span>Danh sách căn hộ</span></a>
                    </div>
                </div>
                <div class="tab-attr">
                    <div>
                        <a href="@Url.Action("Requested", "Member")"><i class="fa-solid fa-bullhorn"></i><span>Yêu cầu đã gửi</span></a>
                    </div>
                </div>
                <div class="tab-attr">
                    <div>
                        <a href="@Url.Action("WaitingRequest", "Member")"><i class="fa-solid fa-lightbulb"></i><span>Gợi ý trao đổi</span></a>
                    </div>
                </div>
                <div class="tab-attr">
                    <div>
                        <a href="@Url.Action("History", "Member")"><i class="fa-solid fa-clock-rotate-left"></i><span>Lịch sử giao dịch</span></a>
                    </div>
                </div>
                <div class="tab-attr">
                    <div>
                        <a href="@Url.Action("Messages", "Member")"><i class="fa-solid fa-comment-dots"></i><span>Tin nhắn</span></a>
                    </div>
                </div>
                @*<div class="tab-attr">
                    <div><i class="fa-solid fa-envelope"></i>
                    <span>Hộp thư góp ý</span>
                    </div>
                </div>*@
            </div>
            <div>
                <a href="#" class="btn btn-danger">Đăng xuất</a>
            </div>
        </div>
        <div class="tab-right">
            @RenderBody()
        </div>
    </main>

    
<div class="modal fade" id="changePWDModal" tabindex="-1" aria-labelledby="changePWDModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                    <h3>Thay đổi mật khẩu</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="CurrentPwd" id="CurrentPwd" placeholder="Mật khẩu hiện tại" />
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="NewPwd" id="ForgotPwd" placeholder="Mật khẩu mới" />
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="NewConfirmPwd" id="ForgotConfirmPwd" placeholder="Xác nhận mật khẩu" />
                    </div>
                </form>
                <button type="button" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    </div>
</div>



    <div class="modal fade" id="messageRequestModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="messageRequestModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="my-modal-title">
                        <h3 class="house-title">Tạo yêu cầu</h3>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="">Chọn nhà muốn trao đổi</label>
                        <div class="house-request" onclick="showListHouseModal(1)">
                            <div class="frame-empty">+</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="">Phương thức trao đổi</label>
                        <div class="contain-option">
                            <div class="form-check">
                                <label class="form-check-label" for="swap-option-1">
                                    Trao đổi bằng điểm
                                </label>
                                <input class="form-check-input" type="radio" name="swap-option" id="swap-option-1" value="swap-option-1" checked>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="swap-option-2">
                                    Trao đổi bằng nhà
                                </label>
                                <input class="form-check-input" type="radio" name="swap-option" id="swap-option-2" value="swap-option-2">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="">Chọn nhà của bạn để trao đổi</label>
                        <div class="house-request" onclick="showListHouseModal(1)">
                            <div class="frame-empty">+</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="">Chọn thời gian đến</label>
                        <div class="">
                            <input type="text" name="requestdaterange" id="requestdaterange" value="01/01/2018 - 01/15/2018" class="form-control" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="">Điểm bạn cần phải trả</label>
                        <div class="contain-price">
                            1400 Point/ngày
                        </div>
                    </div>

                    <div class=""><button class="btn btn-primary" type="button">Tạo yêu cầu</button></div>
                </div>
            </div>
            <div class="modal-content list-house modal-content-hide">
                <div class="modal-header">
                    <span class="back-step" onclick="HTMLInputElement(0)"> <i class="fa-solid fa-angle-left"></i> </span>
                    <h3 class="house-title">Chọn nhà</h3>
                </div>
                <div class="modal-body">
                    <div class="list">
                        <div class="house-card selected">
                            <img src="~/Image/house-demo.png" alt="Mike" style="width:100%">
                            <div class="house-img-container">
                                <h2>Nhà của Hiếu</h2>
                                <p class="attribute"><i class="fa-solid fa-map-location-dot"></i><span>268 Ly Thuong Kiet Street - Ward 14, District 10, HCMC, Ho Chi Minh City</span></p>
                                <div class="list-attribute">
                                    <p class="attribute"><span>4</span><i class="fa-solid fa-star"></i></p>
                                    <p class="attribute"><i class="fa-solid fa-users"></i><span>4</span></p>
                                    <p class="attribute"><i class="fa-solid fa-bed"></i><span>2</span></p>
                                </div>
                                <p>
                                    <button class="item-button">
                                        <span class="label-show">200point/night</span>
                                        <span class="label-hide">Chọn</span>
                                    </button>
                                </p>
                            </div>
                        </div>
                        @for (var item = 0; item < 5; item++)
                        {
                            <div class="house-card">
                                <img src="~/Image/house-demo.png" alt="Mike" style="width:100%">
                                <div class="house-img-container">
                                    <h2>Nhà của Hiếu</h2>
                                    <p class="attribute"><i class="fa-solid fa-map-location-dot"></i><span>268 Ly Thuong Kiet Street - Ward 14, District 10, HCMC, Ho Chi Minh City</span></p>
                                    <div class="list-attribute">
                                        <p class="attribute"><span>4</span><i class="fa-solid fa-star"></i></p>
                                        <p class="attribute"><i class="fa-solid fa-users"></i><span>4</span></p>
                                        <p class="attribute"><i class="fa-solid fa-bed"></i><span>2</span></p>
                                    </div>
                                    <p>
                                        <button class="item-button">
                                            <span class="label-show">200point/night</span>
                                            <span class="label-hide">Chọn</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class=""><button class="btn btn-primary" type="button">Xác nhận</button></div>
                </div>
            </div>
            <div class="modal-content list-house modal-content-hide">
                <div class="modal-header">
                    <span class="back-step" onclick="hideListHouseModal(1)"> <i class="fa-solid fa-angle-left"></i> </span>
                    <h3 class="house-title">Chọn nhà</h3>
                </div>
                <div class="modal-body">
                    <div class="list">
                        <div class="house-card selected">
                            <img src="~/Image/house-demo.png" alt="Mike" style="width:100%">
                            <div class="house-img-container">
                                <h2>Nhà của Hiếu</h2>
                                <p class="attribute"><i class="fa-solid fa-map-location-dot"></i><span>268 Ly Thuong Kiet Street - Ward 14, District 10, HCMC, Ho Chi Minh City</span></p>
                                <div class="list-attribute">
                                    <p class="attribute"><span>4</span><i class="fa-solid fa-star"></i></p>
                                    <p class="attribute"><i class="fa-solid fa-users"></i><span>4</span></p>
                                    <p class="attribute"><i class="fa-solid fa-bed"></i><span>2</span></p>
                                </div>
                                <p>
                                    <button class="item-button">
                                        <span class="label-show">200point/night</span>
                                        <span class="label-hide">Chọn</span>
                                    </button>
                                </p>
                            </div>
                        </div>
                        @for (var item = 0; item < 5; item++)
                        {
                            <div class="house-card">
                                <img src="~/Image/house-demo.png" alt="Mike" style="width:100%">
                                <div class="house-img-container">
                                    <h2>Nhà của Hiếu</h2>
                                    <p class="attribute"><i class="fa-solid fa-map-location-dot"></i><span>268 Ly Thuong Kiet Street - Ward 14, District 10, HCMC, Ho Chi Minh City</span></p>
                                    <div class="list-attribute">
                                        <p class="attribute"><span>4</span><i class="fa-solid fa-star"></i></p>
                                        <p class="attribute"><i class="fa-solid fa-users"></i><span>4</span></p>
                                        <p class="attribute"><i class="fa-solid fa-bed"></i><span>2</span></p>
                                    </div>
                                    <p>
                                        <button class="item-button">
                                            <span class="label-show">200point/night</span>
                                            <span class="label-hide">Chọn</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class=""><button class="btn btn-primary" type="button">Xác nhận</button></div>
                </div>
            </div>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DoAnTotNghiep - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Nav/nav.js" type="text/javascript"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    
@RenderSection("houseListRequest", required: false)
@RenderSection("createHouse", required: false)
@RenderSection("membersInCircleSwap", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementsByClassName("tab-attr")[@ViewData["active"]].classList.add("tab-attr-active");
        });
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" />
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>

    <script type='text/javascript'>
        const picker = new Litepicker({
            element: document.getElementById('requestdaterange'),
            singleMode: false,
            tooltipText: {
                one: 'night',
                other: 'nights'
            },
            tooltipNumber: (totalDays) => {
                return totalDays - 1;
            }
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
