@using DoAnTotNghiep.Enum;
@using Newtonsoft.Json;
@{
    UserInfo? userInfo = null;
        string? info = Context.Request.Cookies[Cookie.UserInfo()];
        if (!string.IsNullOrEmpty(info))
            userInfo = JsonConvert.DeserializeObject<UserInfo>(info);
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DoAnTotNghiep.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/Image/tiny-logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" />

    <!--Start Icon Kit-->
    <script src="https://kit.fontawesome.com/19075407b9.js" crossorigin="anonymous"></script>
    @*<link rel="stylesheet" href="https://kit.fontawesome.com/19075407b9.css" crossorigin="anonymous">*@
    <!--End Icon Kit-->
</head>
<body>
    <nav class="nav-app">
        <div class="container-lg">
            <div class="d-flex justify-content-between">
                <div>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Image/logo.png" class="logo" alt="logo" /></a>
                </div>
                <div class="nav-left">
                    <div class="lg-device">
                        <div class="lg-device-control">
                            <div class="turn-off">
                                <div>
                                    <i class="fa-sharp fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                            <form name="search" class="d-flex">
                                <input type="search" class="rounded-start rounded-0 form-control" placeholder="Bạn muốn đi đâu?" name="explore" id="explore-1" />
                                <button class="btn btn-sm btn-primary rounded-0 rounded-end"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sm-device">
                        <div class="menu-tab"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></div>
                    </div>
                    <div class="authorize">
                        <div id="tag_notification">
                            <a class="position-relative" href="#" role="button" id="dropdownMenuNotification" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-bell"></i>
                                <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                    <span class="visually-hidden">new</span>
                                </span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuNotification">
                                <div class="title"><h5>Thông báo</h5></div>
                                <div class="alert-frame">
                                    <div class="dropdown-item">
                                        <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                        <div class="content">
                                            <strong>Phạm Minh Hiếu</strong>
                                            đã gửi yêu cầu trao đổi
                                            <span class="time">17/02/2023</span>
                                        </div>
                                        <div class="status"><i class="fa-solid fa-circle"></i></div>
                                    </div>
                                    <div class="dropdown-item">
                                        <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                        <div class="content">
                                            <span class="user-info">Phạm Minh Hiếu</span>
                                            <span> đã gửi yêu cầu trao đổi</span>
                                            <span class="time">17/02/2023</span>
                                        </div>
                                        <div class="status seen"><i class="fa-solid fa-circle"></i></div>
                                    </div>
                                    <div class="dropdown-item">
                                        <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                        <div class="content">
                                            <span class="user-info">Phạm Minh Hiếu</span>
                                            <span> đã gửi yêu cầu trao đổi</span>
                                            <span class="time">17/02/2023</span>
                                        </div>
                                        <div class="status"><i class="fa-solid fa-circle"></i></div>
                                    </div>
                                    <div class="dropdown-item">
                                        <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                        <div class="content">
                                            <span class="user-info">Phạm Minh Hiếu</span>
                                            <span> đã gửi yêu cầu trao đổi</span>
                                            <span class="time">17/02/2023</span>
                                        </div>
                                        <div class="status seen"><i class="fa-solid fa-circle"></i></div>
                                    </div>
                                    <div class="dropdown-item">
                                        <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                        <div class="content">
                                            <span class="user-info">Phạm Minh Hiếu</span>
                                            <span> đã gửi yêu cầu trao đổi</span>
                                            <span class="time">17/02/2023</span>
                                        </div>
                                        <div class="status"><i class="fa-solid fa-circle"></i></div>
                                    </div>
                                    <div class="dropdown-item">
                                        <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                        <div class="content">
                                            <span class="user-info">Phạm Minh Hiếu</span>
                                            <span> đã gửi yêu cầu trao đổi</span>
                                            <span class="time">17/02/2023</span>
                                        </div>
                                        <div class="status seen"><i class="fa-solid fa-circle"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tag_chats">
                            <a class="position-relative" href="#" role="button" id="dropdownMenuChat" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-comments"></i>
                                <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuNotification">
                                <div class="title"><h5>Tin nhắn</h5></div>
                                <div class="alert-frame"></div>
                            </div>
                        </div>
                        <div class="avt d-block d-xl-none">
                            <a class="position-relative" href="#" role="button" id="dropdownMenuMember" data-bs-toggle="dropdown" aria-expanded="false">
                                @if (userInfo != null && !string.IsNullOrEmpty(userInfo.UrlImage))
                                {
                                    <img src="@userInfo.UrlImage" alt="avatar" />
                                }
                                else
                                {
                                    <img src="~/Image/user.svg" alt="avatar" />
                                }
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuMember">
                                <div class="tab-attr">
                                    <div>
                                        <a href="@Url.Action("Infomation", "Member")"><i class="fa-solid fa-circle-info"></i><span>Thông tin tài khoản</span></a>
                                    </div>
                                </div>
                                <div class="tab-attr">
                                    <div>
                                        <a href="@Url.Action("House", "Member")"><i class="fa-solid fa-house"></i><span>Danh sách căn hộ</span></a>
                                    </div>
                                </div>
                                <div class="tab-attr">
                                    <div>
                                        <a href="@Url.Action("Requested", "Member")"><i class="fa-solid fa-bullhorn"></i><span>Yêu cầu đã gửi</span></a>
                                    </div>
                                </div>
                                <div class="tab-attr">
                                    <div>
                                        <a href="@Url.Action("WaitingRequest", "Member")"><i class="fa-solid fa-lightbulb"></i><span>Gợi ý trao đổi</span></a>
                                    </div>
                                </div>
                                <div class="tab-attr">
                                    <div>
                                        <a href="@Url.Action("History", "Member")"><i class="fa-solid fa-clock-rotate-left"></i><span>Lịch sử giao dịch</span></a>
                                    </div>
                                </div>
                                <div class="tab-attr">
                                    <div>
                                        <a href="@Url.Action("Messages", "Member")"><i class="fa-solid fa-comment-dots"></i><span>Tin nhắn</span></a>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div>
                                    <div>
                                        <a class="dropdown-item text-danger" href="@Url.Action("Logout", "Authorize")">Đăng xuất <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main role="main">
        <div class="tab-left d-none d-xl-block">
            <div class="infomation">
                <div class="avt">
                    @if (userInfo != null && !string.IsNullOrEmpty(userInfo.UrlImage))
                    {
                        <img src="@userInfo.UrlImage" alt="avatar" />
                    }
                    else
                    {
                        <img src="~/Image/user.svg" alt="avatar" />
                    }
                </div>
                <div class="name">
                    <span>@userInfo.FirstName @userInfo.LastName</span>
                    <span>@userInfo.Point Point</span>
                </div>
            </div>
            <div class="info-frame">
                <div class="tab-attr">
                    <div>
                        <a href="@Url.Action("Infomation", "Member")"><i class="fa-solid fa-circle-info"></i><span>Thông tin tài khoản</span></a>
                    </div>
                </div>
                <div class="tab-attr">
                    <div>
                        <a href="@Url.Action("House", "Member")"><i class="fa-solid fa-house"></i><span>Danh sách căn hộ</span></a>
                    </div>
                </div>
                <div class="tab-attr">
                    <div>
                        <a href="@Url.Action("Requested", "Member")"><i class="fa-solid fa-bullhorn"></i><span>Yêu cầu đã gửi</span></a>
                    </div>
                </div>
                <div class="tab-attr">
                    <div>
                        <a href="@Url.Action("WaitingRequest", "Member")"><i class="fa-solid fa-lightbulb"></i><span>Gợi ý trao đổi</span></a>
                    </div>
                </div>
                <div class="tab-attr">
                    <div>
                        <a href="@Url.Action("History", "Member")"><i class="fa-solid fa-clock-rotate-left"></i><span>Lịch sử giao dịch</span></a>
                    </div>
                </div>
                <div class="tab-attr">
                    <div>
                        <a href="@Url.Action("Messages", "Member")"><i class="fa-solid fa-comment-dots"></i><span>Tin nhắn</span></a>
                    </div>
                </div>
                @*<div class="tab-attr">
                    <div><i class="fa-solid fa-envelope"></i>
                    <span>Hộp thư góp ý</span>
                    </div>
                    </div>
                *@
            </div>
            <div>
                <a href="@Url.Action("Logout", "Authorize")" class="btn btn-danger">Đăng xuất</a>
            </div>
        </div>
        <div class="tab-right">
            @RenderBody()
        </div>
    </main>
    @(Html.Partial("~/Views/PartialView/_Footer.cshtml"))
    <div id="renderModal"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Nav/nav.js" type="text/javascript"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    @RenderSection("houseListRequest", required: false)
    @RenderSection("createHouse", required: false)
    @RenderSection("membersInCircleSwap", required: false)

    @(Html.Partial("~/Views/PartialView/_Authorized.cshtml", userInfo))
    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementsByClassName("info-frame")[0].getElementsByClassName("tab-attr")[@ViewData["active"]].classList.add("tab-attr-active");
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
