@using DoAnTotNghiep.Enum;
@using Newtonsoft.Json;
@{
    string role = Context.Request.Cookies[Cookie.RoleAccess()] == null ? Role.UnAuthorize() : Context.Request.Cookies[Cookie.RoleAccess()];
    UserMessageViewModel? userInfo = null;

    if (role != Role.UnAuthorize())
    {
        string? info = Context.Request.Cookies[Cookie.UserInfo()];
        if (!string.IsNullOrEmpty(info))
            userInfo = JsonConvert.DeserializeObject<UserMessageViewModel>(info);
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DoAnTotNghiep.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/Image/tiny-logo.png" type="image/x-icon" />

    <!--Start Icon Kit-->
    <script src="https://kit.fontawesome.com/19075407b9.js" crossorigin="anonymous"></script>
    @*<link rel="stylesheet" href="https://kit.fontawesome.com/19075407b9.css" crossorigin="anonymous">*@
    <!--End Icon Kit-->
</head>
<body>
    <nav class="nav-app">
        <div class="container-lg">
            <div class="d-flex justify-content-between">
                <div>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Image/logo.png" class="logo" alt="logo" /></a>
                </div>
                <div class="nav-left">
                    @if(role == Role.UnAuthorize())
                    {
                        <div class="control">
                            <a href="@Url.Action("SignUpCheckMail", "Authorize")" class="btn btn-primary">Đăng ký</a>
                            <a href="@Url.Action("SignIn", "Authorize")" class="btn btn-outline-primary">Đăng nhập</a>
                        </div>
                    }
                    else
                    {
                        <div class="lg-device">
                            <div class="lg-device-control">
                                <div class="turn-off">
                                    <div>
                                        <i class="fa-sharp fa-solid fa-chevron-right"></i>
                                    </div>
                                </div>
                                <form name="search" class="d-flex">
                                    <input type="search" class="rounded-start rounded-0 form-control" placeholder="Bạn muốn đi đâu?" name="explore" id="explore-1" />
                                    <button class="btn btn-sm btn-dark rounded-0 rounded-end"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="authorize">
                            <div>
                                <a class="position-relative" href="#" role="button" id="dropdownMenuNotification" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-bell"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                        <span class="visually-hidden">New alerts</span>
                                    </span>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuNotification">
                                    <div class="title"><h5>Thông báo</h5></div>
                                    <div class="alert-frame">
                                        <div class="dropdown-item">
                                            <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                            <div class="content">
                                                <strong>Phạm Minh Hiếu</strong>
                                                đã gửi yêu cầu trao đổi
                                                <span class="time">17/02/2023</span>
                                            </div>
                                            <div class="status"><i class="fa-solid fa-circle"></i></div>
                                        </div>
                                        <div class="dropdown-item">
                                            <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                            <div class="content">
                                                <span class="user-info">Phạm Minh Hiếu</span>
                                                <span> đã gửi yêu cầu trao đổi</span>
                                                <span class="time">17/02/2023</span>
                                            </div>
                                            <div class="status seen"><i class="fa-solid fa-circle"></i></div>
                                        </div>
                                        <div class="dropdown-item">
                                            <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                            <div class="content">
                                                <span class="user-info">Phạm Minh Hiếu</span>
                                                <span> đã gửi yêu cầu trao đổi</span>
                                                <span class="time">17/02/2023</span>
                                            </div>
                                            <div class="status"><i class="fa-solid fa-circle"></i></div>
                                        </div>
                                        <div class="dropdown-item">
                                            <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                            <div class="content">
                                                <span class="user-info">Phạm Minh Hiếu</span>
                                                <span> đã gửi yêu cầu trao đổi</span>
                                                <span class="time">17/02/2023</span>
                                            </div>
                                            <div class="status seen"><i class="fa-solid fa-circle"></i></div>
                                        </div>
                                        <div class="dropdown-item">
                                            <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                            <div class="content">
                                                <span class="user-info">Phạm Minh Hiếu</span>
                                                <span> đã gửi yêu cầu trao đổi</span>
                                                <span class="time">17/02/2023</span>
                                            </div>
                                            <div class="status"><i class="fa-solid fa-circle"></i></div>
                                        </div>
                                        <div class="dropdown-item">
                                            <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                            <div class="content">
                                                <span class="user-info">Phạm Minh Hiếu</span>
                                                <span> đã gửi yêu cầu trao đổi</span>
                                                <span class="time">17/02/2023</span>
                                            </div>
                                            <div class="status seen"><i class="fa-solid fa-circle"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a class="position-relative" href="#" role="button" id="dropdownMenuChat" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-comments"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                        <span class="visually-hidden">New chats</span>
                                    </span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuNotification">
                                    <div class="title"><h5>Tin nhắn</h5></div>
                                    <div class="alert-frame">
                                        <div class="dropdown-item">
                                            <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                            <div class="content">
                                                <strong>Phạm Minh Hiếu</strong>
                                                đã gửi yêu cầu trao đổi
                                                <span class="time">17/02/2023</span>
                                            </div>
                                            <div class="status"><i class="fa-solid fa-circle"></i></div>
                                        </div>
                                        <div class="dropdown-item">
                                            <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                            <div class="content">
                                                <span class="user-info">Phạm Minh Hiếu</span>
                                                <span> đã gửi yêu cầu trao đổi</span>
                                                <span class="time">17/02/2023</span>
                                            </div>
                                            <div class="status seen"><i class="fa-solid fa-circle"></i></div>
                                        </div>
                                        <div class="dropdown-item">
                                            <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                            <div class="content">
                                                <span class="user-info">Phạm Minh Hiếu</span>
                                                <span> đã gửi yêu cầu trao đổi</span>
                                                <span class="time">17/02/2023</span>
                                            </div>
                                            <div class="status"><i class="fa-solid fa-circle"></i></div>
                                        </div>
                                        <div class="dropdown-item">
                                            <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                            <div class="content">
                                                <span class="user-info">Phạm Minh Hiếu</span>
                                                <span> đã gửi yêu cầu trao đổi</span>
                                                <span class="time">17/02/2023</span>
                                            </div>
                                            <div class="status seen"><i class="fa-solid fa-circle"></i></div>
                                        </div>
                                        <div class="dropdown-item">
                                            <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                            <div class="content">
                                                <span class="user-info">Phạm Minh Hiếu</span>
                                                <span> đã gửi yêu cầu trao đổi</span>
                                                <span class="time">17/02/2023</span>
                                            </div>
                                            <div class="status"><i class="fa-solid fa-circle"></i></div>
                                        </div>
                                        <div class="dropdown-item">
                                            <div class="avt"><img src="~/Image/logo.png" alt="avt" /></div>
                                            <div class="content">
                                                <span class="user-info">Phạm Minh Hiếu</span>
                                                <span> đã gửi yêu cầu trao đổi</span>
                                                <span class="time">17/02/2023</span>
                                            </div>
                                            <div class="status seen"><i class="fa-solid fa-circle"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="avt" style="display: none;">
                                <a class="position-relative" href="#" role="button" id="dropdownMenuMember" data-bs-toggle="dropdown" aria-expanded="false">
                                    @if (userInfo != null && !string.IsNullOrEmpty(userInfo.ImageUrl))
                                    {
                                        <img src="~/@userInfo.ImageUrl" alt="avatar" />
                                    }
                                    else
                                    {
                                        <img src="~/Image/logo.png" alt="avatar" />
                                    }
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuMember">
                                    <a class="dropdown-item" href="@Url.Action("Infomation", "Member")">Hồ sơ cá nhân</a>
                                    <a class="dropdown-item" href="@Url.Action("House", "Member")">Danh sách nhà</a>
                                    <a class="dropdown-item" href="@Url.Action("Requested", "Member")">Danh sách yêu cầu</a>
                                    <a class="dropdown-item" href="@Url.Action("WaitingRequest", "Member")">Gợi ý trao đổi</a>
                                    <a class="dropdown-item" href="@Url.Action("History", "Member")">Lịch sử giao dịch</a>
                                    <a class="dropdown-item" href="@Url.Action("Messages", "Member")">Tin nhắn</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="@Url.Action("Logout", "Authorize")">Đăng xuất <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="sm-device">
                            <div class="menu-tab"><i class="fa-solid fa-bars"></i></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </nav>
    <main role="main">
        @RenderBody()
    </main>

    @(Html.Partial("~/Views/PartialView/_Footer.cshtml"))

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Nav/nav.js" type="text/javascript"></script>

    @if (role != Role.UnAuthorize())
    {
        <script src="~/lib/microsoft/signalr/dist/browser/signalr.js" type="text/javascript"></script>
        <script src="~/js/Chat/connect.js" type="text/javascript"></script>

        <script type="text/javascript">
            connection.on("@(DoAnTotNghiep.Enum.TargetSignalR.Connect() + "-" + (userInfo == null ? string.Empty : userInfo.UserAccess))", function (message) {
                console.log(message);
            });
        </script>
    }

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
